<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body><center>
  <h1>Success, we'll let you know once you're accepted!</h1>
  <p>you can now close this tab</p>
</center></body>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  head, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #111622;
    font-family: 'Roboto', sans-serif; 
  }
  center {
    top: 40%;
    position: absolute;
    height: 50%;
    width: 100%;
  }
</style>
